<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imust.mapper.OrderItemMapper">

	<insert id="addItem" parameterType="OrderItem">
		insert into orderitem(p_id,m_id,itemnumber,s_id) values(#{p_id},#{m_id},#{itemnumber},#{s_id})
	</insert>
	
	<delete id="deleteItem" parameterType="Integer">
		delete from orderitem where id=#{id}
	</delete>
	
	<update id="updateItem">
		update orderitem set itemnumber=#{itemnumber} where id=#{id}
	</update>
	
	<select id="getItemsP_id" resultType="Integer">
		select p_id from orderitem where id=#{id}
	</select>
	
	<select id="getItemsByM_id" resultType="OrderItem">
		select * from orderitem where m_id=#{m_id}
	</select>
	
	<select id="getItemById" resultType="OrderItem">
		select * from orderitem where id=#{id}
	</select>
	
	<select id="getItemByP_id" resultType="OrderItem">
		select * from orderitem where p_id=#{p_id}
	</select>
	
	<select id="getItemsByS_id" resultType="OrderItem">
		select * from orderitem where s_id=#{s_id}
	</select>
	
	<select id="getItemS_id" resultType="Integer">
		select s_id from orderitem
	</select>
	
	<resultMap type="RankShop" id="rankShop">
		<id column="s_id" property="s_id"/>
		<result column="quantity" property="count"/>
	</resultMap>
	
	<select id="rankShop" resultMap="rankShop">
		select s_id,count(s_id) quantity from orderitem group by s_id order by count(s_id) desc
	</select>
	
	<update id="setItemO_id">
		update orderitem set o_id=#{o_id} where id=#{id}
	</update>
	
	<select id="getItemsByO_id" resultType="OrderItem">
		select * from orderitem where o_id=#{o_id}
	</select>
	
</mapper>